 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/estilo.css'%}">
    <script scr="{% static 'js/bootstrap.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'img/imagenes.img'%}">
    <link rel="stylesheet" href="{% static 'fonts/fondos.fonts'%}">
    
    <title>Document</title>
</head>
<body>
    <h1>Bienvenidos a WorkShop Django</h1>
    
</body>
</html>